/* CSS konfigurationer som skall gälla för handhållna enheter, såsom mindre tablets och smartphones */


/* Formateringar som skall gälla för menyn för handhållna enheter */

#menu-icon {
    display: block;
}

main {
    clear: both;
}

nav {
    float: right;
    height: 100px;
}

nav ul, nav:active ul { 
    display: none;
    position: absolute;
    background: #ffffff;
    left: 0px;
    top: 180px;
    width: 100%;
}

nav li  {
    position: relative;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav:hover ul {
    display: block;
}



/* Formateringar för formulär för handhållna enheter */


#Submit
{
    width: 100%;
}

input  
{
    width: 95%;
    padding: 2%;
}

select
{
    width: 100%;
    padding: 2%;
}

textarea
{
    width: 96%;
    padding: 2%;
}
    
fieldset
{
    width: 92%;
    margin-bottom: 2%;
}
    
legend
{
    font-weight: bold;
}

label.leftalign
{
    text-align: left;
    width: 100%;
    margin-right: -5%;
}

label.leftalignshort
{
    text-align: left;
    float: left;
    width: 90%;
}

input[type=checkbox] 
{  
    float: left;
    width: 10%;    
}


/* Övriga specialinställningar som skall gälla för handhållna enheter */

.noshow {
    display: none;
}