/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


/* Övergripande inställningar */

html {
    position: relative;
    min-height: 100%;
    background-color: #ffffff;
}

body 
{
    width: 100%;
    margin: 0 0 100px;
    background-color: #eeeeee;
    font-family: 'Quattrocento', Georgia, Tahoma, Verdana, Arial;
    font-size: 12pt;
    line-height: 140%;
    color: #353535;
}


/* Formateringar av DIV-element och HTML5-strukturtaggar */

#container {
    width: 100%;
}

header {
    min-height: 105px;
    padding: 1%;
}

nav {
    padding: 0% 1% 0% 1%;
    width: 98%;
    height: 28px;
}

main {
    
}

article {
    padding: 1%;
}

section {
    max-width: 960px;
    margin: 0px auto;
}

aside {
    width: 50%;
    float: right;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 98%;
    padding: 1%;    
    background-color: #3c3f41;
    color: #ffffff;
    font-size: 10pt;
}


/* Klasser tillhörande ovanstående, för modifikationer av bla. färger */

.articleBlue {
    background-color: #167cc0;
    color: #ffffff;
}

.articleWhite {
    background-color: #ffffff;
    color: #353535;
}


/* Formatering av sidans huvudmeny */


nav ul
{
    margin: 0px;
    list-style: none;
}

nav li
{
    float: left;
}
            
nav a
{
    text-decoration: none;
    color: #ffffff;
    background-color: #3c3f41;
    padding: 9px 20px 8px 20px;
    margin-left: 1px; 
}

nav a:hover
{
    background-color: #167cc0;
    color: #ffffff;
}

nav a:focus
{
    background-color: #167cc0;
    color: #ffffff;
}

nav .active a
{
    background-color: #167cc0;
    color: #ffffff;
}


/* Formatering av länkar */


a 
{
    color:  #79a7a4;
    text-decoration: none;
}

a:hover
{
    color: #5fa3e2;
}


/* Formatering av text */

h1 {
    font-size: 21pt;
    line-height: 140%;
    font-weight: 700;
}

header h1 {
    font-size: 38pt;
    font-weight: 400;
    line-height: 100%;
}

header h2 {
    font-size: 22pt;
    line-height: 100%;
}


/* Formateringar för formulär */


/* Formateringar för formulär */

#Submit
{
    width: 25%;
}
    
input  
{
    width: 50.7%;
    padding: 1%;
}

select
{
    width: 53%;
    padding: 1%;
}

textarea
{
    width: 51%;
    min-height: 100px;
    padding: 1%;
}
    
fieldset
{
    width: 96%;
    margin-bottom: 1%;
}
    
legend
{
    font-weight: bold;
    margin-bottom: 20px;
}

label.leftalign
{
    text-align: left;
    float: left;
    width: 20%;
    margin-right: -5%;
}
    
label.leftalignshort
{
    text-align: left;
    float: left;
    width: 25%;
    margin-right: -22%;
}


/* Övriga formateringar */

img {
    max-width: 100%;
}